body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #ddd;*/
}


#board{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#player{
    background-color: rgb(99, 181, 148);
    position: absolute;
}

.obstacle{
    background-color: orange;
    position: absolute;
   
}

#page-gameover{
    text-align: center;
    background-color: aliceblue;
}